@import "theme/theme.scss";

.dashboard_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .search_box_container {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    align-self: flex-start;
    padding-right: 15px;
    h2 {
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
}
