@import "theme/theme.scss";

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $grey;
  &:last-child {
    border-bottom: none;
    padding-bottom: 20px;
  }
  .head {
    display: flex;
    align-items: center;
    @include dashboard-Wrapper-padding;
    padding-bottom: 0;
    .title {
      font-weight: 600;
      font-size: 22px;
      margin-right: 10px;
    }
  }
  .content {
    @include dashboard-Wrapper-padding;
  }
}
