@import "theme/theme.scss";

.summary_container {
  display: flex;
  border-bottom: 1px solid $grey;
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-bottom: 30px;
  &:last-child{
    border-bottom: none
  }
  .header_wrapper {
    display: flex;
    align-items: center;
    .header_left {
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      .name {
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0px;
        margin-right: 10px;
        margin-left: 5px;
        text-transform: capitalize;
        &:hover {
          color: $theme_blue;
          text-decoration: underline;
        }
      }
      .thumbnail {
        @include profile-thumbnail(40px, 40px, $theme_blue);
      }
      .status {
        margin-left: 12px;
        width: 22px;
        height: 22px;
      }
    }
    .header_right {
      display: flex;
      .view_details,
      .hire_now {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        // text-transform: uppercase;
        font-size: 13px;
        color: #006ab6;
        &:hover {
          text-decoration: underline;
        }
      }
      .hire_now {
        cursor: pointer;
      }
      svg {
        width: 22px;
        height: 22px;
        // margin-right: 6px;
      }
    }
  }
  .metas {
    display: flex;
    color: $grey;
    padding: 4px 0;
    margin-bottom: 10px;
    .education {
      text-transform: uppercase;
    }
    .education,
    .total_experience {
      display: flex;
      align-items: center;
      margin-right: 28px;
      .icon {
        width: 17px;
        height: 17px;
        margin-right: 6px;
      }
    }
  }
  .about {
    margin-bottom: 15px;
  }
  .levels {
    display: flex;
    text-transform: capitalize;
    margin-bottom: 20px;
    .level {
      padding: 3px 12px;
      margin-right: 6px;
    }
  }
}
