@import "theme/theme.scss";

.wrapper {
  padding: 2px 30px;
  margin-bottom: 20px;
  //   @include shadowed-wrapper;
  position: relative;
  width: 80%;
  svg {
    background: $theme_blue;
    padding: 5px;
    width: 45px;
    height: 35px;
    position: absolute;
    z-index: 1;
    right: 30px;
    top: 22px;
    cursor: pointer;
    &:hover {
      background: $light_blue;
    }
  }
  label {
    padding-left: 10px;
  }
}
