@import "theme/theme.scss";

.checkout_container{ 
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: space-between;
    // align-items: center;
    background: $white;
    min-height: 100%;
    // overflow: hidden;
    @include shadowed-wrapper; 
    @include dashboard-Wrapper-padding;
    .wizard_wrapper {  
        display: flex;
        flex-direction: column; 
        width: 58%;
        padding-right: 30px;
        border-right: 1px solid $grey;;
        .wizard{
            display: flex;
            // flex-direction: column-reverse;
            flex-direction: column;
            flex-grow: 1;
        }
    }
    .summary_wrapper{
        width: 38%;
        padding-left: 30px;
    }
}

.rsw-wrapper {
    min-height: 400px !important;
}

/** Progress Bar */
// @progress-height: 5px;
// @duration: 3s;

@keyframes stripes {
    from { background-position: 1rem 0 }
    to { background-position: 0 0 }
}

@keyframes rainbow {
    0% { background-color: var(--red) }
    20% { background-color: var(--orange) }
    40% { background-color: var(--yellow) }
    60% { background-color: var(--green) }
    80% { background-color: var(--blue) }
    100% { background-color: var(--indigo) }
}

@keyframes grow {
    from { width: 0% }
    to { width: 100% }
}

.progress-wrapper {
    padding-top: 25%;
}

.progress {
    height: 5px;
    overflow: hidden;
}

.progress-bar {
    height: 5px;
    width: 100%;

    .loaded & {
        animation: grow 3s ease,
            stripes 1s linear infinite,
            rainbow 3s ease infinite;
    }
}