@import "theme/theme.scss";

.search_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  .search_box_container {
    width: 80%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    // align-self: flex-start;
    padding-right: 15px;
    h2 {
      font-weight: 400;
      letter-spacing: 1px;
    }
  }
  .pagination {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .results_container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: $white;
    @include shadowed-wrapper;
  }
}
