@import "theme/theme.scss";

.wrapper{
    display: flex;
    flex-direction: column;
    .title{
        width: 100%;
        display: flex;
        justify-content: center; 
        padding: 10px 0;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase; 
    }
    .two_cols{
        display: flex;  
        flex-wrap: wrap;  
        .col_one, .col_two{
            width: 48%;
            > div{
                width: 100%;
            }
            .date_input{
                position: relative;
                .input_icon{
                   @include input-icon-24(8px, 5px, rgba(0, 106, 182, 0.18)) 
                }
            }
        } 
        .col_one{
            margin-right: 20px; 
        }
    } 
    .child_select{
        display: flex;  
        align-items: center;   
        .text{
            margin-left: 40px;
            color: $theme_blue;
        }   
    }
}