@import "theme/theme.scss";

.account_container {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  margin: 0 auto;
  .form_container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    .signup_form > div {
      //custome margin for signup form fields
      margin: 11px 0;
    }
    .signin_and_forgot {
      form {
        position: absolute;
        width: 100%;
        .fade_toggler {
          margin-bottom: 8px;
          cursor: pointer;
          color: $theme_blue;
          &:hover {
            text-decoration: underline;
          }
        }
        &.fade_out {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s linear 300ms, opacity 300ms;
        }
        &.fade_in {
          visibility: visible;
          opacity: 1;
          transition: visibility 0s linear 0s, opacity 300ms;
        }
      }
    }
    &.sign_in_container,
    &.sign_up_container {
      left: 0;
      width: 50%;
    }
    &.sign_in_container {
      z-index: 2;
    }
    &.sign_up_container {
      z-index: 1;
      opacity: 0;
    }
    form {
      background: #ffffff;
      display: flex;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .user_type_wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 2px !important;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      color: $dark-border;
      .user_type {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        input[type="checkbox"] {
          margin-right: 5px;
        }
      }
    }
  }
  .overlay_container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    .overlay {
      background: $theme_blue;
      //   background: linear-gradient(to right, blue, rgb(75, 75, 221));
      color: #ffffff;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
      .overlay_panel {
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 40px;
        height: 100%;
        width: 50%;
        text-align: center;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
        p {
          margin: 20px 0;
        }
        &.overlay_right {
          right: 0;
          transform: translateX(0);
        }
      }
    }
  }

  /** Animation **/
  &.signup_active {
    .sign_in_container,
    .sign_up_container {
      transform: translateX(100%);
    }
    .sign_up_container {
      opacity: 1;
      z-index: 5;
    }
    .overlay_container {
      transform: translateX(-100%);
    }
    .overlay {
      transform: translateX(50%);
    }
    .overlay_left {
      transform: translateX(0);
    }
    .overlay_left {
      transform: translateX(20%);
    }
  }
}
