@import "theme/theme.scss";

.section {
  @include dashboard-Wrapper-padding;
  border-bottom: 1px solid $grey;
  &:last-child {
    border-bottom: none;
  }
  .header {
    display: flex;
    flex-direction: row;
    position: relative;
    .title {
      font-weight: 600;
      font-size: 22px;
      margin-right: 10px;
      margin-bottom: 15px;
    }
    // .editIcon {
    // }
  }
  .content {
    display: flex;
    flex-direction: column;
    .content_wrapper {
      display: flex;
      flex-direction: column;
      padding: 6px 0;
      .content_title {
        font-weight: 700;
        margin-right: 10px;
      }
      .content_value {
        text-transform: capitalize;
      }
      .value_and_action {
        display: flex;
        margin: 12px 0;
        .action_icon {
          margin-left: 10px;
          margin-top: -10px;
        }
      }
      .social_placeholder {
        display: flex;
        align-items: center;
        svg {
          width: 40px;
          height: 40px;
          margin-right: 6px;
          cursor: pointer;
          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.modal_button_wrapper {
  position: absolute;
  left: 0;
  bottom: -21px;
  display: flex;
  justify-content: center;
  width: 100%;
}
